.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	max-width: 95%;
	width: 72ch;
}

.App > h1 {
	text-align: center;
}

.listItem {
	font-size: 2rem;
	margin-top: 10px;
	text-decoration: underline;
	font-weight: 600;
}

.listItem:hover {
	color: blue;
	cursor: pointer;
}

#portrait {
	width: 70%;
}
